* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 5px; 
}
body {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}
.container {
  min-width: 310px;
}

.header {
  min-height: 100px;
  background-color: darkcyan; }

.header img {
  width: 100%;
}

.adidas {
  background-color: darkred;
  float: right;
  display: none;
  margin-bottom: 23px;
  width: 160px;
  height: 220px;
}
.reklama {
  display: flex;
  width: 100%;
}




/*.photo:nth-child(n) {
  margin-right: 0; 
}*/

.photo {
  /*width: 73px;*/
  width: 20%;
  margin-bottom: 4px;
  margin-right: 4px;
  /*height: 48px;*/
  background-color: darkred;
  float: left; }
.photo img {
  width: 100%;
  max-width: 80px;
} 
.september18 {
  display: none;
}
.float1 {
  float: left;
}
.adidas {
  float: right;
}


.footer {
  min-height: 100px;
  background-color: #ccc; }

@media screen and (min-width: 480px) {
  .adidas {
    display: block;
  }
  .reklama {
  display: none;
  }
  .photos {
    float: left;
  }
}

@media screen and (max-width: 320px) {
.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.photo {
  float: none;
}
}