* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	min-width: 320px;
	max-width: 768px;
	/*padding: 5px;*/
}
.container {
	margin: 0 5px;
}
.header-line {
  width: 119px;
  height: 2px;
  background-color: black;
  float: right;
}
header h1 {
  font-family: PlayfairDisplay;
  color: #010101;
  font-size: 26px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  margin-top: 25px;
}
header img {
	width: 100%;
}
.today, .otherday {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
article {
	width: 23%;
	margin-right: 2%;
}
.width320 article:nth-child(4n) {
  margin-right: 0; 
}
article img {
	width: 100%;
}
article p {
    font-family: NotoSerif;
    color: #000000;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
  article span {
    font-family: NotoSerif;
    color: #000000;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
.reklama1 {
	display: flex;
}
.reklama_text {
  margin-left: 19px;
}
.reklama_text span {
  font-family: NotoSans;
  color: #bebebe;
  font-size: 10px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
}
.reklama_text h4 {
	font-family: NotoSans;
  color: #000000;
  font-size: 13px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 18px; /* Приближение из-за подстановки шрифтов */
  text-align: left;


}
.reklama_text p {
  font-family: NotoSans;
  color: #000000;
  font-size: 12px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 18px; /* Приближение из-за подстановки шрифтов */
  text-align: left;	
}
.width480 {
	display: none;
}
.width768 {
  display: none;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
  	margin: 0 20px;
  }
  header h1 {
    width: 265px;
    height: 39px;
    font-family: PlayfairDisplay;
    color: #010101;
    font-size: 40px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    /*line-height: 18px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
  }
  .header-line {
    width: 157px;
    height: 2px;
    background-color: black;
    float: right;
  }
  header img {
    margin-top: 25px;
  }
  article {
    margin-bottom: 10px;
  }
  article p {
    font-family: NotoSerif;
    color: #000000;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
  article span {
    font-family: NotoSerif;
    color: #000000;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
  
  .width480 {
    display: block;
  }
  .reklama {
   width: 36.37%;
  }
  .reklama img {
    width: 100%;
  }
  .doreklama article {
  	width: 31.01%;
  }
  .doreklama article:nth-child(3n) {
  margin-right: 0; 
  }
  .width320 {
  display: none;
  }
  .doreklama {
  	display: flex;
  	/*align-self: stretch;*/
  	justify-content: space-between;
  }
  .doreklama__articles {
  	width: 59.13%;
  	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
  }
  .afterreklama {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  }
  .afterreklama article{
  	width: 18.18%;
  }
  .afterreklama article:nth-child(5n) {
  margin-right: 0; 
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 34px;
  }
  header h1 {
    width: 265px;
    height: 39px;
    font-family: PlayfairDisplay;
    color: #010101;
    font-size: 40px;
    font-weight: 400;
    /*line-height: 18px;*/
    text-align: left;
    margin-top: 40px;
  }
  .header-line {
    width: 420px;
    height: 2px;
    background-color: black;
    float: right;
  }
  header p {
    width: 668px;
    height: 30px;
    font-family: NotoSans;
    color: #000000;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 14px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 16px;
    margin-bottom: 18px;
  }
  header img {
    margin-top: 25px;
    z-index: 1;
  }
  article {
    margin-bottom: 20px;
  }
  article p {
    font-family: NotoSerif;
    color: #000000;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
  article span {
    font-family: NotoSerif;
    color: #000000;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }
  .width768 {
    display: block;
  }
  .reklama {
    width: 23.43%;
  }
  .reklama img {
    width: 100%;
  }
  .doreklama article {
    width: 31.01%;
  }
  .doreklama article:nth-child(3n) {
  margin-right: 0; 
  }
  .width320 {
  display: none;
  }
  .width480 {
  display: none;
}
  .doreklama {
    display: flex;
    justify-content: space-between;
  }
  .doreklama__articles {
    width: 74.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .afterreklama {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .afterreklama article{
    width: 23.43%;
  }
  .afterreklama article:nth-child(4n) {
  margin-right: 0; 
  }
}