* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	min-width: 320px;
	max-width: 768px;
	/*padding: 5px;*/
}
.container {
	margin: 0 5px;
}
header img {
	width: 100%;
}
.today, .otherday {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
article {
	width: 23%;
	margin-right: 2%;
}
.width320 article:nth-child(4n) {
  margin-right: 0; 
}
article img {
	width: 100%;
}
.reklama {
	display: flex;
}
.reklama span {

}
.reklama h4 {
	
}
.reklama p {
	
}
.width480 {
	display: none;
}


@media screen and (min-width: 480px) {
  .container {
  	margin: 0 20px;
  }
  
  .width480 {
    display: block;
  }
  .doadidasa article {
  	width: 31.01%;
  }
  .doadidasa article:nth-child(3n) {
  margin-right: 0; 
  }
  
  /*.adidas {
  	float: right;
  	margin-right: 0s;
  	width: 33.3%;
  	
  }
  .adidas a{
  	width: 33.3%;
  }*/
  .width320 {
  display: none;
  }
  .doadidasa {
  	display: flex;
  	/*align-self: stretch;*/
  	justify-content: space-between;
  	
  }

  .doadidasa__articles {
  	width: 59.13%;
  	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
  }
  .afteradidasa {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  }
  .afteradidasa article{
  	width: 18.18%;
  }
  .afteradidasa article:nth-child(5n) {
  margin-right: 0; 
  }
}