* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	min-width: 320px;
	max-width: 768px;
	/*padding: 5px;*/
}
.container {
	margin: 0 5px;
}
header img {
	width: 100%;
}
.today, .otherday {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
article {
	width: 23%;
	margin-right: 2%;
}
.width320 article:nth-child(4n) {
  margin-right: 0; 
}
article img {
	width: 100%;
}
.reklama1 {
	display: flex;
}
.reklama_text span {

}
.reklama_text h4 {
	
}
.reklama_text p {
	
}
.width480 {
	display: none;
}
.width768 {
  display: none;
}

@media screen and (min-width: 480px) {
  .container {
  	margin: 0 20px;
  }
  
  .width480 {
    display: block;
  }
  .reklama {
   width: 36.37%;
  }
  .reklama img {
    width: 100%;
  }
  .doreklama article {
  	width: 31.01%;
  }
  .doreklama article:nth-child(3n) {
  margin-right: 0; 
  }
  .width320 {
  display: none;
  }
  .doreklama {
  	display: flex;
  	/*align-self: stretch;*/
  	justify-content: space-between;
  }
  .doreklama__articles {
  	width: 59.13%;
  	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
  }
  .afterreklama {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  }
  .afterreklama article{
  	width: 18.18%;
  }
  .afterreklama article:nth-child(5n) {
  margin-right: 0; 
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 34px;
  }
  
  .width768 {
    display: block;
  }
  .reklama {
    width: 23.43%;
  }
  .reklama img {
    width: 100%;
  }
  .doreklama article {
    width: 31.01%;
  }
  .doreklama article:nth-child(3n) {
  margin-right: 0; 
  }
  .width320 {
  display: none;
  }
  .width480 {
  display: none;
}
  .doreklama {
    display: flex;
    justify-content: space-between;
  }
  .doreklama__articles {
    width: 74.5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .afterreklama {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .afterreklama article{
    width: 23.43%;
  }
  .afterreklama article:nth-child(4n) {
  margin-right: 0; 
  }
}